In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

#### Filtering with Pandas

In [4]:
path = Path('.', 'data', 'SuperStore.xlsx')
df = pd.read_excel(path, sheet_name='Orders')
df.head()
pd.DataFrame(df.dtypes, columns=['type'])

                         type
Order ID               object
Order Date     datetime64[ns]
Customer Name          object
Segment                object
City                   object
State                  object
Region                 object
Category               object
Sub-Category           object
Product Name           object
Sales                 float64
Quantity                int64
Profit                float64

In [46]:
df['Customer Name'].unique()

array(['Claire Gute', 'Darrin Van Huff', "Sean O'Donnell",
       'Brosina Hoffman', 'Andrew Allen', 'Irene Maddox', 'Harold Pawlan',
       'Pete Kriz', 'Alejandro Grove', 'Zuschuss Donatelli', 'Ken Black',
       'Sandra Flanagan', 'Emily Burns', 'Eric Hoffmann',
       'Tracy Blumstein', 'Matt Abelman', 'Gene Hale', 'Steve Nguyen',
       'Linda Cazamias', 'Ruben Ausman', 'Erin Smith', 'Odella Nelson',
       "Patrick O'Donnell", 'Lena Hernandez', 'Darren Powers',
       'Janet Molinari', 'Ted Butterfield', 'Kunst Miller',
       'Paul Stevenson', 'Brendan Sweed', 'Karen Daniels',
       'Henry MacAllister', 'Joel Eaton', 'Ken Brennan',
       'Stewart Carmichael', 'Duane Noonan', 'Julie Creighton',
       'Christopher Schild', 'Paul Gonzalez', 'Gary Mitchum', 'Jim Sink',
       'Karl Braun', 'Roger Barcio', 'Parhena Norris', 'Katherine Ducich',
       'Elpida Rittenbach', 'Rick Bensley', 'Gary Zandusky',
       'Lena Cacioppo', 'Janet Martin', 'Pete Armstrong', 'Cynthia Voltz',
       'Clay Ludtke', 'Ryan Crowe', 'Dave Kipp', 'Greg Guthrie',
       'Steven Cartwright', 'Alan Dominguez', 'Philip Fox',
       'Troy Staebel', 'Lindsay Shagiari', 'Dorothy Wardle',
       'Lena Creighton', 'Jonathan Doherty', 'Sally Hughsby',
       'Sandra Glassco', 'Helen Andreada', 'Maureen Gastineau',
       'Justin Ellison', 'Tamara Willingham', 'Stephanie Phelps',
       'Neil Knudson', 'Dave Brooks', 'Nora Paige', 'Ted Trevino',
       'Eric Murdock', 'Ruben Dartt', 'Max Jones', 'Becky Martin',
       'Chad Sievert', 'Jennifer Braxton', 'Shirley Jackson', 'Jim Kriz',
       'David Kendrick', 'Robert Marley', 'Sally Knutson', 'Frank Merwin',
       'Alice McCarthy', 'Mark Packer', 'Mary Zewe', 'Cassandra Brandow',
       'Valerie Mitchum', 'Fred Hopkins', 'Maria Bertelson',
       'Bruce Stewart', 'Logan Currie', 'Heather Kirkland',
       'Laurel Elliston', 'Joseph Holt', 'Michael Stewart',
       'Victoria Wilson', 'Jonathan Howell', 'Joni Blumstein',
       'David Smith', 'Valerie Dominguez', 'Erin Ashbrook',
       'David Bremer', 'Ken Lonsdale', 'Dianna Wilson',
       'Logan Haushalter', 'Kelly Collister', 'Delfina Latchford',
       'Dan Reichenbach', 'Craig Carreira', 'Dorris liebe',
       'Sean Braxton', 'Roy Collins', 'Alan Hwang', 'Claudia Bergmann',
       'Christine Abelman', 'Kristen Hastings', 'Barry Blumstein',
       'Andrew Gjertsen', "Jas O'Carroll", 'Alan Haines', 'Nick Zandusky',
       'Kelly Lampkin', 'Alan Schoenberger', 'Corey Roper',
       'Shahid Hopkins', 'Ben Peterman', 'Thomas Seio', 'Andy Gerbode',
       'Sung Pak', 'Nathan Mautz', 'Frank Atkinson', 'Grace Kelly',
       'Don Jones', "Patrick O'Brill", 'John Lucas', 'Doug Bickford',
       'Alyssa Crouse', 'Clay Cheatham', 'Tamara Dahlen',
       'Adam Bellavance', 'Jeremy Lonsdale', 'Victoria Brennan',
       'Katrina Willman', 'Julia Dunbar', 'Michael Kennedy',
       'Guy Thornton', 'Arthur Gainer', 'Muhammed MacIntyre',
       'Allen Rosenblatt', 'Russell Applegate', 'Alejandro Savely',
       'Laura Armstrong', 'Denny Ordway', 'Dean Katz', 'Nathan Gelder',
       'Mike Vittorini', 'Jack Garza', 'Bart Pistole', 'Victor Preis',
       'Saphhira Shifley', 'Anna Gayman', 'Luke Foster',
       'Roy Französisch', 'Keith Herrera', 'Kimberly Carter',
       'Caroline Jumper', 'Philip Brown', 'Michael Paige',
       'Natalie Fritzler', 'Shirley Daniels', 'Ken Heidel', 'Ross Baird',
       'Mike Kennedy', 'Philisse Overcash', 'Brenda Bowman',
       'Troy Blackwell', 'Raymond Buch', 'Ed Braxton', 'Sanjit Chand',
       'Tanja Norvell', 'Joni Sundaresam', 'Maya Herman', 'Jeremy Pistek',
       'Jeremy Ellison', 'John Grady', 'Xylona Preis', 'Erin Mull',
       'Michelle Tran', 'Sue Ann Reed', 'Carl Weiss', 'Astrea Jones',
       'Sonia Sunley', "Rose O'Brian", 'Maribeth Dona', 'Maribeth Yedwab',
       'Christopher Martinez', 'Lynn Smith', 'Bradley Nguyen',
       'Dean Braden', 'Matt Connell', 'Brian Dahlen', 'Patricia Hirasaki',
       'Mike Gockenbach', 'Karen Bern', 'Jasper Cacioppo', 'Rob Lucas',
       'Allen Armold', 'Emily Phan', 'Darren Koutras', 'Bradley Drucker',
       'Liz MacKendrick', 'Adrian Shami', 'Bill Donatelli', 'Greg Tran',
       'Ashley Jarboe', 'Olvera Toch', 'Liz Pelletier', 'Cynthia Arntzen',
       'Jeremy Farry', 'Frank Preis', 'Ellis Ballard',
       'Jennifer Ferguson', 'Sarah Foster', 'Trudy Glocke',
       'Carlos Soltero', 'Charles Crestani', 'Dianna Vittorini',
       'Bruce Degenhardt', 'Zuschuss Carroll', 'Melanie Seite',
       'Lena Radford', 'Theone Pippenger', 'Chloris Kastensmidt',
       'Alan Shonely', 'Andrew Roberts', 'Nona Balk', 'Giulietta Dortch',
       'Clytie Kelty', 'Nat Gilpin', 'Christina Anderson',
       'Sylvia Foulston', "Meg O'Connel", 'Annie Thurman', 'Fred McMath',
       'Denny Joy', 'Max Engle', 'Justin Deggeller', 'John Lee',
       'Sean Christensen', 'Chuck Clark', 'Anthony Rawles',
       'Steven Roelle', 'Craig Reiter', 'Eugene Hildebrand',
       'Sibella Parks', 'Tiffany House', 'Resi Pölking', 'Rob Beeghly',
       'Carol Darley', 'Doug Jacobs', 'Grant Thornton', 'Michael Chen',
       'Ralph Arnett', 'Naresj Patel', 'Alan Barnes', 'Jesus Ocampo',
       'Jay Kimmel', 'Brad Norvell', 'David Philippe', 'Tracy Hopkins',
       'Arthur Prichep', 'Roland Schwarz', 'Seth Vernon',
       'Christine Kargatis', 'Ross DeVincentis', 'Mathew Reese',
       'Steve Chapman', 'Jay Fein', 'Emily Grady', 'Darrin Sayre',
       'Phillina Ober', 'Sung Shariari', 'Peter Bühler', 'Roland Fjeld',
       'Yoseph Carroll', 'Debra Catini', 'Christine Phan',
       'Barry Französisch', 'Lisa Hazard', 'Chris Selesnick',
       'Anthony Johnson', 'Benjamin Venier', 'Dan Lawera', 'Bryan Mills',
       'Liz Thompson', 'Joe Kamberova', 'Erica Smith', 'Rick Hansen',
       'Carlos Daly', 'Helen Wasserman', 'Mike Caudle', 'Gary McGarr',
       'Pauline Johnson', 'Bart Watters', 'Toby Ritter',
       'Patrick Gardner', 'James Lanier', 'Brian Moss', 'Eudokia Martin',
       'Art Foster', 'Guy Armstrong', 'Cyma Kinney', 'Dave Poirier',
       'Berenike Kampe', 'Sanjit Jacobs', 'Chuck Magee', 'Anthony Jacobs',
       'Linda Southworth', 'Guy Phonely', 'Paul Knutson',
       'Sally Matthias', 'Anthony Garverick', 'Peter McVee',
       'Lauren Leatherbury', 'Jill Stevenson', 'Ed Ludwig',
       'Pamela Coakley', 'Hunter Lopez', 'Maribeth Schnelling',
       'George Bell', 'Justin Ritter', 'Bill Eplett', 'Sample Company A',
       'Rob Williams', 'Sanjit Engle', 'Adam Hart', 'Jessica Myrick',
       'Joel Jenkins', 'Ralph Kennedy', 'Catherine Glotzbach',
       'Rachel Payne', 'Karen Carlisle', 'Katherine Hughes',
       'Greg Hansen', 'Scott Williamson', 'Joseph Airdo', 'Daniel Lacy',
       'Lindsay Williams', 'Thomas Brumley', 'Bryan Spruell',
       'Robert Waldorf', 'Tracy Zic', 'Ann Steele', 'Toby Swindell',
       'Sara Luxemburg', 'Mitch Willingham', 'Rob Dowd', 'Ryan Akin',
       'Meg Tillman', 'Vivek Gonzalez', 'John Stevenson', 'Kalyca Meade',
       'Hallie Redmond', 'Deanra Eno', 'Allen Goldenen',
       'Jennifer Jackson', 'Jennifer Halladay', 'Robert Dilbeck',
       "Mary O'Rourke", 'Noel Staavos', 'Deirdre Greer', 'Nicole Fjeld',
       'Matthew Grinstein', 'Theresa Swint', 'Brian DeCherney',
       'Charles McCrossin', 'Skye Norling', 'Erica Hernandez',
       'Frank Olsen', 'Maurice Satty', 'Chad Cunningham', 'Don Weiss',
       'Bill Tyler', 'Craig Yedwab', 'Brad Thomas', 'Penelope Sewall',
       'Paul Van Hugh', 'Neoma Murray', 'Dionis Lloyd',
       'Christine Sundaresam', 'Frank Hawley', 'Nat Carroll',
       'Alex Avila', 'Larry Tron', 'Anne Pryor', 'Paul MacIntyre',
       'Alyssa Tate', 'Cathy Armstrong', 'Harold Ryan', 'Bradley Talbott',
       'Larry Hughes', 'Steven Ward', 'Stefania Perrino', 'Ben Ferrer',
       'Kean Thornton', 'Brooke Gillingham', 'Greg Matthias',
       'Eva Jacobs', 'Nora Preis', 'Mick Hernandez', 'Jocasta Rupert',
       'Suzanne McNair', 'Chris Cortes', 'Phillip Flathmann',
       'Dan Campbell', 'Bryan Davis', 'Gene McClure', 'Todd Boyes',
       'Justin Hirsh', 'Erica Bern', 'Quincy Jones', 'Tracy Collins',
       'Chuck Sachs', 'Henry Goldwyn', 'Laurel Workman', 'Matt Collins',
       'Liz Preis', 'Evan Bailliet', 'George Zrebassa', 'Cathy Prescott',
       'Frank Gastineau', 'Lisa DeCherney', 'Alejandro Ballentine',
       'Michael Nguyen', 'Jim Radford', 'Jamie Frazer', 'Chad McGuire',
       'Aaron Smayling', 'Beth Paige', 'Natalie DeCherney',
       'Larry Blacks', 'Kean Takahito', 'Harry Marie', 'Ann Blume',
       'Sam Zeldin', 'Michael Granlund', 'Julie Kriz', 'Paul Prost',
       'Yana Sorensen', 'Katherine Murray', 'Adrian Barton',
       'Helen Abelman', 'Beth Thompson', 'Stuart Van', 'Rick Wilson',
       'Damala Kotsonis', 'Shui Tom', 'Michael Moore', 'Pauline Webber',
       'Shaun Chance', 'Thais Sissman', 'Mark Cousins', 'Maria Etezadi',
       'Nicole Hansen', 'Mick Brown', 'Keith Dawkins',
       'Katherine Nockton', 'Nora Pelletier', 'Cindy Stewart',
       'Maxwell Schwartz', 'Corinna Mitchell', 'Corey-Lock',
       'Todd Sumrall', 'Jane Waco', 'John Dryer', 'Pauline Chand',
       'Andy Reiter', 'Arianne Irving', 'Tom Boeckenhauer', 'Paul Lucas',
       'Gary Hwang', 'Mike Pelletier', 'Jim Mitchum', 'Carl Ludwig',
       'Deborah Brumfield', 'Ivan Gibson', 'Bobby Odegard', 'Aimee Bixby',
       'Julia West', 'Edward Becker', 'Sheri Gordon', 'Charlotte Melton',
       'Anthony Witt', 'Mick Crebagga', 'Tonja Turnell', 'Vivek Grady',
       'Muhammed Yedwab', 'Rick Duston', 'Dennis Pardue',
       'Marina Lichtenstein', 'Jenna Caffey', 'James Galang',
       'Marc Crier', 'Natalie Webber', 'Toby Braunhardt', 'Bill Stewart',
       'Hilary Holden', 'Christina DeMoss', 'Thea Hendricks',
       'Michelle Moray', 'Neola Schneider', 'Robert Barroso',
       'Shaun Weien', 'Eric Barreto', 'Pamela Stobb', 'Herbert Flentye',
       'Henia Zydlo', 'Cynthia Delaney', 'Jamie Kunitz', 'Filia McAdams',
       'Emily Ducich', 'Dianna Arnett', 'Joni Wasserman', 'Raymond Messe',
       'Max Ludwig', 'Craig Carroll', 'Jim Epp', 'Roy Phan',
       'Thomas Boland', 'Brad Eason', 'Jill Fjeld', 'Phillip Breyer',
       'Brian Thompson', 'Janet Lee', 'Cathy Hwang', 'Neil Ducich',
       'Barbara Fisher', 'Katharine Harms', 'Giulietta Weimer',
       'Noah Childs', 'Michelle Ellison', 'Benjamin Patterson',
       'John Castell', 'Adam Shillingsburg', 'Amy Cox',
       'Michael Dominguez', 'Duane Benoit', 'Erica Hackney',
       'Edward Hooks', 'Scot Coram', 'Joe Elijah', 'Ann Chong',
       'Joy Daniels', 'Christy Brittain', 'Joy Smith', 'Luke Weiss',
       'Stuart Calhoun', 'Anne McFarland', 'Rick Huthwaite',
       'Carol Triggs', 'Matt Collister', 'Corey Catlett',
       'Kelly Andreada', 'Tamara Chand', 'Bart Folk', 'Magdelene Morse',
       'Adrian Hane', 'Ben Wallace', 'Scot Wooten', 'Brian Stugart',
       'Randy Ferguson', 'William Brown', 'Trudy Brown', 'Art Ferguson',
       'Richard Bierner', 'Karen Ferguson', 'John Huston', 'Ivan Liston',
       'Patrick Bzostek', 'Rob Haberlin', 'Arthur Wiediger',
       'Maris LaWare', 'Dorothy Badders', 'Matt Hagelstein',
       'Dennis Kane', 'Bobby Trafton', 'Denny Blanton', 'Toby Gnade',
       'Barry Franz', 'Justin MacKendrick', 'Maria Zettner',
       'Mitch Webber', 'Mark Van Huff', 'Sean Miller', 'Tom Prescott',
       'Jim Karlsson', 'Patrick Jones', 'Ricardo Sperren',
       'Susan Vittorini', 'Becky Castell', 'Elizabeth Moffitt',
       'Brendan Murry', 'Kristina Nunn', 'Kelly Williams', 'Scott Cohen',
       'Christina VanderZanden', 'Speros Goranitis', 'Tamara Manning',
       'Eleni McCrary', 'Michelle Lonsdale', 'Clay Rozendal',
       'Annie Zypern', 'Pierre Wener', 'Shahid Collister',
       'Carlos Meador', 'Greg Maxwell', 'Tim Brockman', 'John Murray',
       'Sonia Cooley', 'Luke Schmidt', 'Ralph Ritter', 'Daniel Byrd',
       'Thomas Thornton', 'Lori Olson', 'Ken Dana', 'Nicole Brennan',
       'Brian Derr', 'Chris McAfee', 'Edward Nazzal', 'Kean Nguyen',
       'Bill Overfelt', 'Aleksandra Gannaway', 'Matthew Clasen',
       'Tom Ashbrook', 'Jason Fortune-', 'Tim Taslimi', 'Sarah Bern',
       'Craig Leslie', 'Hunter Glantz', 'Nancy Lomonaco', 'Rick Reed',
       'Toby Carlisle', 'Stewart Visinsky', 'Bobby Elias',
       'Steve Carroll', 'David Flashing', 'Fred Harton', 'MaryBeth Skach',
       'Ritsa Hightower', 'George Ashbrook', 'Julie Prescott',
       'Dean percer', 'Michael Oakman', 'Denise Leinenbach',
       'Michelle Huthwaite', 'Daniel Raglin', 'Darrin Martin',
       'Carol Adams', 'Anna Chung', 'Denise Monton', 'Vicky Freymann',
       'Christopher Conant', 'Beth Fritzler', 'Harry Greene', 'Becky Pak',
       'Eugene Moren', 'Michelle Arnett', 'Andy Yotov',
       'Giulietta Baptist', 'Julia Barnett', 'Michael Grace',
       'Sharelle Roach', 'Joy Bell-', 'Dario Medina', 'Tony Chapman',
       'Sean Wendt', 'Richard Eichhorn', 'Benjamin Farhat',
       'Katrina Bavinger', 'Jason Gross', 'Erin Creighton',
       'Eugene Barchas', 'Jennifer Patt', 'Cari Sayre', 'Gary Hansen',
       'Pete Takahito', 'Jack Lebron', 'Aaron Hawkins', 'Cindy Chapman',
       'David Wiener', 'Sarah Jordon', 'Bruce Geld', 'Laurel Beltran',
       'Candace McMahon', 'Evan Henry', 'Tony Sayre', 'Patrick Ryan',
       'Liz Carlisle', 'Cindy Schnelling', 'Dave Hallsten',
       "Jack O'Briant", 'Anna Häberlin', 'Heather Jas', 'Mark Hamilton',
       "Russell D'Ascenzo", 'Sam Craven', 'Stephanie Ulpright',
       'Fred Chung', 'Randy Bradley', 'Nick Crebassa', 'Darren Budd',
       'Maureen Fritzler', 'Roland Murray', 'Vivian Mathis', 'Ed Jacobs',
       'Nathan Cano', 'Lycoris Saunders', 'Katrina Edelman',
       'Duane Huffman', 'Peter Fuller', 'Valerie Takahito',
       'Maureen Gnade', 'Susan Pistek', 'Charles Sheldon', 'Dana Kaydos',
       'Khloe Miller', 'Anna Andreadi', 'Dorothy Dickinson', 'Amy Hunt',
       'Tracy Poddar', 'Eileen Kiefer', 'Cyra Reiten', 'Susan Gilcrest',
       'Angele Hood', 'Neil Französisch', 'Bill Shonely',
       'Stefanie Holloman', 'Roger Demir', 'Alex Grayson',
       'Georgia Rosenberg', 'Vivek Sundaresam', 'Tony Molinari',
       'Tom Stivers', 'Dennis Bolton', 'Nick Radford', 'Cari Schnelling',
       'Monica Federle', 'Liz Willingham', 'Alex Russell', 'Karen Seio',
       'Aaron Bergman', 'Lisa Ryan', 'Shahid Shariari', 'Jill Matthias',
       'Jason Klamczynski', 'Don Miller', 'Muhammed Lee', 'Marc Harrigan',
       'Frank Carlisle', 'Thea Hudgings', 'Juliana Krohn', 'Sarah Brown',
       'Barry Gonzalez', 'Barry Weirich', 'Mitch Gastineau',
       "Doug O'Connell", 'Barry Pond', 'Trudy Schmidt', 'Evan Minnotte',
       "Anthony O'Donnell", 'Mark Haberlin', 'Shirley Schmidt',
       'Lela Donovan', 'Victoria Pisteka', 'Theresa Coyne',
       'Ionia McGrath', 'Anemone Ratner', 'Craig Molinari',
       'Fred Wasserman', 'Lindsay Castell', 'Harold Engle',
       'Brendan Dodson', 'Harold Dahlen', 'Carl Jackson', 'Roy Skaria',
       'Sung Chung', 'Ricardo Emerson', 'Susan MacKendrick'], dtype=object)

In [49]:
#In how many Invoices (Main Orders), were the orders placed?
customer_name = 'Claire Gute'

df[  df['Customer Name'] == customer_name   ]['Order ID'].nunique()

3

In [50]:
#How many orders were placed in the 'Consumer' segment?

df[  df['Segment'] ==  'Consumer' ]['Order ID'].nunique()

2586

In [52]:
#Which customers made purchases in 'Consumer' segment

customer = set(df[df['Segment'] == 'Consumer']['Customer Name'])

customer

{'Aaron Bergman',
 'Adam Shillingsburg',
 'Adrian Barton',
 'Aimee Bixby',
 'Alan Barnes',
 'Alan Hwang',
 'Alan Shonely',
 'Alejandro Grove',
 'Alex Avila',
 'Alex Grayson',
 'Allen Armold',
 'Allen Goldenen',
 'Amy Cox',
 'Amy Hunt',
 'Andrew Allen',
 'Andrew Roberts',
 'Andy Reiter',
 'Anemone Ratner',
 'Angele Hood',
 'Anna Andreadi',
 'Anna Chung',
 'Anna Gayman',
 'Anne McFarland',
 'Annie Thurman',
 'Annie Zypern',
 'Anthony Witt',
 'Arianne Irving',
 'Art Ferguson',
 'Art Foster',
 'Arthur Gainer',
 'Arthur Prichep',
 'Ashley Jarboe',
 'Astrea Jones',
 'Barry Gonzalez',
 'Barry Weirich',
 'Bart Folk',
 'Becky Martin',
 'Becky Pak',
 'Ben Wallace',
 'Benjamin Patterson',
 'Berenike Kampe',
 'Beth Paige',
 'Bill Donatelli',
 'Bobby Elias',
 'Bobby Odegard',
 'Bobby Trafton',
 'Bradley Drucker',
 'Bradley Nguyen',
 'Brian Dahlen',
 'Brian DeCherney',
 'Brian Derr',
 'Brian Stugart',
 'Brian Thompson',
 'Brosina Hoffman',
 'Bruce Degenhardt',
 'Bruce Geld',
 'Bruce Stewart',
 'Bryan Davis',
 'Bryan Mills',
 'Cari Schnelling',
 'Carl Ludwig',
 'Carlos Daly',
 'Carlos Meador',
 'Carlos Soltero',
 'Carol Darley',
 'Carol Triggs',
 'Caroline Jumper',
 'Cassandra Brandow',
 'Chad McGuire',
 'Chad Sievert',
 'Charles Crestani',
 'Charles McCrossin',
 'Charlotte Melton',
 'Chloris Kastensmidt',
 'Chris Cortes',
 'Chris McAfee',
 'Christina Anderson',
 'Christina DeMoss',
 'Christina VanderZanden',
 'Christine Sundaresam',
 'Christopher Conant',
 'Christopher Martinez',
 'Christy Brittain',
 'Chuck Magee',
 'Chuck Sachs',
 'Cindy Chapman',
 'Cindy Stewart',
 'Claire Gute',
 'Clay Cheatham',
 'Clay Ludtke',
 'Clytie Kelty',
 'Corey-Lock',
 'Craig Carreira',
 'Craig Carroll',
 'Craig Reiter',
 'Cynthia Arntzen',
 'Dan Campbell',
 'Dan Lawera',
 'Dana Kaydos',
 'Daniel Lacy',
 'Darren Koutras',
 'Darren Powers',
 'Darrin Martin',
 'Dave Brooks',
 'Dave Kipp',
 'David Flashing',
 'David Philippe',
 'Dean Braden',
 'Debra Catini',
 'Delfina Latchford',
 'Denise Leinenbach',
 'Dennis Kane',
 'Denny Blanton',
 'Denny Ordway',
 'Dianna Vittorini',
 'Don Weiss',
 'Dorothy Dickinson',
 'Doug Bickford',
 'Doug Jacobs',
 "Doug O'Connell",
 'Duane Benoit',
 'Duane Noonan',
 'Ed Jacobs',
 'Edward Nazzal',
 'Emily Burns',
 'Emily Grady',
 'Emily Phan',
 'Eric Barreto',
 'Eric Hoffmann',
 'Eric Murdock',
 'Erica Hackney',
 'Erica Smith',
 'Erin Creighton',
 'Erin Mull',
 'Eugene Barchas',
 'Eva Jacobs',
 'Evan Bailliet',
 'Evan Henry',
 'Frank Olsen',
 'Frank Preis',
 'Fred Harton',
 'Fred McMath',
 'Gary Hwang',
 'Gary McGarr',
 'Gary Zandusky',
 'Gene McClure',
 'George Ashbrook',
 'Giulietta Baptist',
 'Giulietta Weimer',
 'Greg Hansen',
 'Greg Matthias',
 'Greg Tran',
 'Guy Armstrong',
 'Guy Thornton',
 'Harry Greene',
 'Helen Abelman',
 'Helen Andreada',
 'Henia Zydlo',
 'Henry MacAllister',
 'Herbert Flentye',
 'Hunter Glantz',
 'Hunter Lopez',
 'Ionia McGrath',
 'Irene Maddox',
 'Ivan Gibson',
 'Ivan Liston',
 'Jack Garza',
 'Jack Lebron',
 'James Galang',
 'Jamie Frazer',
 'Jamie Kunitz',
 'Janet Lee',
 'Janet Martin',
 "Jas O'Carroll",
 'Jason Fortune-',
 'Jasper Cacioppo',
 'Jay Fein',
 'Jay Kimmel',
 'Jenna Caffey',
 'Jennifer Ferguson',
 'Jennifer Halladay',
 'Jennifer Jackson',
 'Jeremy Ellison',
 'Jeremy Farry',
 'Jeremy Lonsdale',
 'Jeremy Pistek',
 'Jessica Myrick',
 'Jill Fjeld',
 'Jill Matthias',
 'Jim Karlsson',
 'Jim Radford',
 'Jocasta Rupert',
 'Joe Elijah',
 'Joe Kamberova',
 'Joel Eaton',
 'John Castell',
 'John Dryer',
 'John Huston',
 'John Lee',
 'John Lucas',
 'John Murray',
 'John Stevenson',
 'Jonathan Howell',
 'Joni Blumstein',
 'Joni Wasserman',
 'Joseph Airdo',
 'Joseph Holt',
 'Joy Bell-',
 'Joy Daniels',
 'Joy Smith',
 'Julia Dunbar',
 'Julia West',
 'Juliana Krohn',
 'Justin Hirsh',
 'Justin MacKendrick',
 'Karen Daniels',
 'Karl Braun',
 'Katherine Ducich',
 'Katherine Hughes',
 'Katrina Willman',
 'Kean Takahito',
 'Kean Thornton',
 'Keith Herrera',
 'Kelly Andreada',
 'Kelly Collister',
 'Kelly Williams',
 'Ken Lonsdale',
 'Khloe Miller',
 'Kunst Miller',
 'Larry Blacks',
 'Larry Hughes',
 'Larry Tron',
 'Laurel Elliston',
 'Lauren Leatherbury',
 'Lena Cacioppo',
 'Lena Creighton',
 'Lena Hernandez',
 'Lena Radford',
 'Lisa DeCherney',
 'Lisa Hazard',
 'Liz Carlisle',
 'Liz MacKendrick',
 'Liz Pelletier',
 'Liz Preis',
 'Liz Thompson',
 'Liz Willingham',
 'Logan Currie',
 'Logan Haushalter',
 'Luke Foster',
 'Luke Weiss',
 'Lycoris Saunders',
 'Lynn Smith',
 'Magdelene Morse',
 'Marc Crier',
 'Maria Bertelson',
 'Maribeth Dona',
 'Maribeth Schnelling',
 'Maris LaWare',
 'Mark Hamilton',
 'Mark Van Huff',
 "Mary O'Rourke",
 'MaryBeth Skach',
 'Matt Collins',
 'Maureen Gnade',
 'Maurice Satty',
 'Max Engle',
 'Max Jones',
 'Maxwell Schwartz',
 'Meg Tillman',
 'Melanie Seite',
 'Michael Chen',
 'Michael Moore',
 'Michael Nguyen',
 'Michael Oakman',
 'Michelle Huthwaite',
 'Michelle Moray',
 'Mick Brown',
 'Mick Crebagga',
 'Mike Gockenbach',
 'Mike Kennedy',
 'Mike Vittorini',
 'Mitch Webber',
 'Muhammed Lee',
 'Naresj Patel',
 'Nat Carroll',
 'Natalie DeCherney',
 'Natalie Fritzler',
 'Natalie Webber',
 'Nathan Cano',
 'Nathan Gelder',
 'Neola Schneider',
 'Neoma Murray',
 'Nick Radford',
 'Nora Paige',
 'Nora Preis',
 'Olvera Toch',
 'Pamela Stobb',
 'Patrick Gardner',
 "Patrick O'Brill",
 "Patrick O'Donnell",
 'Patrick Ryan',
 'Paul Gonzalez',
 'Paul MacIntyre',
 'Pauline Johnson',
 'Pete Kriz',
 'Pete Takahito',
 'Peter Bühler',
 'Peter Fuller',
 'Philip Brown',
 'Philip Fox',
 'Phillip Flathmann',
 'Pierre Wener',
 'Ralph Arnett',
 'Ralph Kennedy',
 'Ralph Ritter',
 'Randy Bradley',
 'Raymond Buch',
 'Raymond Messe',
 'Resi Pölking',
 'Ricardo Emerson',
 'Richard Bierner',
 'Richard Eichhorn',
 'Rick Duston',
 'Rick Hansen',
 'Ritsa Hightower',
 'Rob Beeghly',
 'Rob Dowd',
 'Rob Haberlin',
 'Rob Lucas',
 'Robert Waldorf',
 'Roger Demir',
 'Roland Fjeld',
 'Roland Murray',
 "Rose O'Brian",
 'Roy Collins',
 'Roy Französisch',
 'Ruben Dartt',
 'Russell Applegate',
 "Russell D'Ascenzo",
 'Ryan Akin',
 'Ryan Crowe',
 'Sally Knutson',
 'Sally Matthias',
 'Sam Craven',
 'Sandra Flanagan',
 'Sandra Glassco',
 'Sanjit Chand',
 'Sanjit Engle',
 'Sarah Bern',
 'Sarah Brown',
 'Sarah Foster',
 'Sarah Jordon',
 'Scot Wooten',
 'Scott Williamson',
 'Sean Christensen',
 "Sean O'Donnell",
 'Seth Vernon',
 'Shahid Collister',
 'Shahid Hopkins',
 'Shahid Shariari',
 'Shaun Weien',
 'Sheri Gordon',
 'Shirley Jackson',
 'Shui Tom',
 'Sonia Cooley',
 'Sonia Sunley',
 'Speros Goranitis',
 'Steven Cartwright',
 'Stewart Visinsky',
 'Stuart Calhoun',
 'Sue Ann Reed',
 'Sung Chung',
 'Sung Shariari',
 'Susan MacKendrick',
 'Susan Pistek',
 'Susan Vittorini',
 'Tamara Dahlen',
 'Tamara Manning',
 'Ted Butterfield',
 'Ted Trevino',
 'Thais Sissman',
 'Thea Hendricks',
 'Theone Pippenger',
 'Thomas Thornton',
 'Tim Brockman',
 'Toby Braunhardt',
 'Toby Carlisle',
 'Toby Gnade',
 'Toby Ritter',
 'Toby Swindell',
 'Tom Boeckenhauer',
 'Tom Prescott',
 'Tony Molinari',
 'Tony Sayre',
 'Tracy Blumstein',
 'Tracy Zic',
 'Troy Blackwell',
 'Troy Staebel',
 'Trudy Brown',
 'Trudy Glocke',
 'Trudy Schmidt',
 'Valerie Dominguez',
 'Vivek Gonzalez',
 'Vivek Sundaresam',
 'Vivian Mathis',
 'William Brown',
 'Xylona Preis',
 'Zuschuss Carroll',
 'Zuschuss Donatelli'}

In [11]:
#Filter Sales greater then 800
df[df['Sales'] > 800].head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
3,US-2015-108966,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,-383.0310
7,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,90.7152
10,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,85.3092
11,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,68.3568
24,CA-2015-106320,2015-09-25,Emily Burns,Consumer,Orem,Utah,West,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,240.2649

In [12]:
#Chaining filters, to get sales between 800 and 1000
df[(df['Sales'] > 800) & (df['Sales'] < 1000) ].head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
3,US-2015-108966,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,-383.0310
7,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,90.7152
11,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,68.3568
72,US-2015-134026,2015-04-26,Joel Eaton,Consumer,Memphis,Tennessee,South,Furniture,Chairs,High-Back Leather Manager's Chair,831.9360,8,-114.3912
144,CA-2017-155376,2017-12-22,Sandra Glassco,Consumer,Independence,Missouri,Central,Office Supplies,Appliances,Sanyo 2.5 Cubic Foot Mid-Size Office Refrigera...,839.4300,3,218.2518

In [13]:
# Filter Sales whose product name length is < 50
df[df['Product Name'].str.len() < 50].head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
0,CA-2016-152156,2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,41.9136
3,US-2015-108966,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,2.5164
6,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Office Supplies,Art,Newell 322,7.2800,4,1.9656
7,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,90.7152

In [16]:
# Filter Sales between 700 and 900, in state Florida or Kentucky (solution 2 - more elegant and more readable!)
states = ['Florida', 'Kentucky']

df[(df['Sales'] > 700) & (df['Sales'] < 900) & (df['State'].isin(states))].head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
1,CA-2016-152156,2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,219.5820
1260,CA-2017-117079,2017-10-23,Jocasta Rupert,Consumer,Jacksonville,Florida,South,Technology,Phones,Wilson SignalBoost 841262 DB PRO Amplifier Kit,863.880,3,107.9850
2551,CA-2017-101042,2017-11-19,Adrian Barton,Consumer,Henderson,Kentucky,South,Furniture,Furnishings,"3M Polarizing Task Lamp with Clamp Arm, Light ...",821.880,6,213.6888
2554,CA-2016-118626,2016-08-15,John Castell,Consumer,Tallahassee,Florida,South,Technology,Phones,HTC One Mini,705.544,7,70.5544
2696,CA-2014-145317,2014-03-18,Sean Miller,Home Office,Jacksonville,Florida,South,Technology,Machines,Hewlett-Packard Deskjet 6540 Color Inkjet Printer,821.300,4,-16.4260

In [17]:
# Filter Sales outside of the states Florida and Kentucky
df[~df['State'].isin(['Florida', 'Kentucky'])].head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
2,CA-2016-138688,2016-06-12,Darrin Van Huff,Corporate,Los Angeles,California,West,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,6.8714
5,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,14.1694
6,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Office Supplies,Art,Newell 322,7.280,4,1.9656
7,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,90.7152
8,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,5.7825

In [18]:
#Filter sales that are in December

df[df['Order Date'].dt.month == 12].head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
13,CA-2016-161389,2016-12-05,Irene Maddox,Consumer,Seattle,Washington,West,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976,3,132.5922
21,CA-2016-137330,2016-12-09,Ken Black,Corporate,Fremont,Nebraska,Central,Office Supplies,Art,Newell 318,19.460,7,5.0596
22,CA-2016-137330,2016-12-09,Ken Black,Corporate,Fremont,Nebraska,Central,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.340,7,15.6884
35,CA-2016-117590,2016-12-08,Gene Hale,Corporate,Richardson,Texas,Central,Technology,Phones,GE 30524EE4,1097.544,7,123.4737
36,CA-2016-117590,2016-12-08,Gene Hale,Corporate,Richardson,Texas,Central,Furniture,Furnishings,"Electrix Architect's Clamp-On Swing Arm Lamp, ...",190.920,5,-147.9630

#### Query Method

In [19]:
# Filter Sales outside of the states Florida and Kentucky
df.query("State not in ['Florida', 'Kentucky']").head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
2,CA-2016-138688,2016-06-12,Darrin Van Huff,Corporate,Los Angeles,California,West,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,6.8714
5,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,14.1694
6,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Office Supplies,Art,Newell 322,7.280,4,1.9656
7,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,90.7152
8,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,5.7825

In [26]:
df.query("Sales > 100 and Sales < 800 and Category == 'Technology'").head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
19,CA-2014-143336,2014-08-27,Zuschuss Donatelli,Consumer,San Francisco,California,West,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,16.0110
40,CA-2015-117415,2015-12-27,Steve Nguyen,Home Office,Houston,Texas,Central,Technology,Phones,Plantronics HL10 Handset Lifter,371.168,4,41.7564
41,CA-2017-120999,2017-09-10,Linda Cazamias,Corporate,Naperville,Illinois,Central,Technology,Phones,Panasonic Kx-TS550,147.168,4,16.5564
68,CA-2014-106376,2014-12-05,Brendan Sweed,Corporate,Gilbert,Arizona,West,Technology,Phones,netTALK DUO VoIP Telephone Service,167.968,4,62.9880
103,US-2015-156867,2015-11-13,Lena Cacioppo,Consumer,Aurora,Colorado,West,Technology,Accessories,Logitech K350 2.4Ghz Wireless Keyboard,238.896,6,-26.8758

In [29]:
#If column has " " in the title we need to use backticks ``
df.query("`Product Name`.str.startswith('B')").head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
0,CA-2016-152156,2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,41.9136
3,US-2015-108966,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,-383.0310
9,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,34.4700
24,CA-2015-106320,2015-09-25,Emily Burns,Consumer,Orem,Utah,West,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,240.2649
31,US-2015-150630,2015-09-17,Tracy Blumstein,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Art,"BOSTON Model 1800 Electric Pencil Sharpeners, ...",86.3040,6,9.7092

In [36]:
df.query("`Product Name`.str.upper().str.startswith('B')").head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
0,CA-2016-152156,2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,41.9136
3,US-2015-108966,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,-383.0310
9,CA-2014-115812,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,West,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,34.4700
24,CA-2015-106320,2015-09-25,Emily Burns,Consumer,Orem,Utah,West,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,240.2649
31,US-2015-150630,2015-09-17,Tracy Blumstein,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Art,"BOSTON Model 1800 Electric Pencil Sharpeners, ...",86.3040,6,9.7092

#### Projection(filtering with pandas)

In [37]:
#Select the customers whose name starts with 'Ad' and show only the Customer Name, the State and the Sales for these customers
df[ df['Customer Name'].str.startswith('Ad') ][['Customer Name', 'State', 'Sales']]

           Customer Name     State     Sales
349      Adam Bellavance  New York     6.790
350      Adam Bellavance  New York    24.560
351      Adam Bellavance  New York     3.048
352      Adam Bellavance  New York    49.120
353      Adam Bellavance  New York  4355.168
...                  ...       ...       ...
9499     Adam Bellavance   Indiana    67.800
9655  Adam Shillingsburg  New York    97.440
9656  Adam Shillingsburg  New York     3.984
9657  Adam Shillingsburg  New York    13.040
9658  Adam Shillingsburg  New York   579.528

[102 rows x 3 columns]

In [38]:
#Select the customers whose name does not start with 'A' and show only the Customer Name, the State and the Sales for these customers.
#Sort the result Customer Name ASC, Sales DESC
df[ ~df['Customer Name'].str.startswith('A')].sort_values(by=['Customer Name', 'Sales'], ascending=[True, False])

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
4407,CA-2016-100041,2016-11-20,Barbara Fisher,Corporate,Columbus,Indiana,Central,Office Supplies,Paper,Xerox 189,314.550,3,150.9840
1840,CA-2014-117345,2014-08-01,Barbara Fisher,Corporate,Charlotte,North Carolina,South,Office Supplies,Paper,Xerox 1916,78.304,2,29.3640
1839,CA-2014-117345,2014-08-01,Barbara Fisher,Corporate,Charlotte,North Carolina,South,Office Supplies,Appliances,Honeywell Quietcare HEPA Air Cleaner,62.920,1,10.2245
1838,CA-2014-117345,2014-08-01,Barbara Fisher,Corporate,Charlotte,North Carolina,South,Furniture,Furnishings,9-3/4 Diameter Round Wall Clock,44.128,4,12.1352
9214,US-2017-120908,2017-09-30,Barbara Fisher,Corporate,Philadelphia,Pennsylvania,East,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters w...,20.664,7,6.9741
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8341,CA-2017-141481,2017-06-11,Zuschuss Donatelli,Consumer,Los Angeles,California,West,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,16.5888
20,CA-2014-143336,2014-08-27,Zuschuss Donatelli,Consumer,San Francisco,California,West,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,7.3840
3040,US-2016-147991,2016-05-05,Zuschuss Donatelli,Consumer,Chattanooga,Tennessee,South,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,3.3440
3815,CA-2016-152471,2016-07-08,Zuschuss Donatelli,Consumer,Jacksonville,Florida,South,Office Supplies,Paper,Xerox 1921,15.984,2,4.9950
18,CA-2014-143336,2014-08-27,Zuschuss Donatelli,Consumer,San Francisco,California,West,Office Supplies,Art,Newell 341,8.560,2,2.4824

In [39]:
#Select the Customer name, Category, Sales and Profit, for all sales over 1500 dollars, that happened in Houston

df[(df['City'] == 'Houston') & (df['Sales'] > 1500)][['Customer Name', 'Category', 'Sales', 'Profit']]

         Customer Name         Category      Sales     Profit
262       Sean Braxton       Technology  3059.9820  -509.9970
263       Sean Braxton       Technology  2519.9580  -251.9958
399        Anna Gayman        Furniture  2396.2656  -317.1528
5310       Nathan Cano  Office Supplies  1525.1880 -2287.7820
7173  Heather Kirkland       Technology  2399.9600   569.9905
8453     Thea Hudgings  Office Supplies  1554.9360    77.7468

In [40]:
df.nlargest(5, 'Profit')

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
6826,CA-2016-118689,2016-10-02,Tamara Chand,Corporate,Lafayette,Indiana,Central,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.95,5,8399.9760
8153,CA-2017-140151,2017-03-23,Raymond Buch,Consumer,Seattle,Washington,West,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,6719.9808
4190,CA-2017-166709,2017-11-17,Hunter Lopez,Consumer,Newark,Delaware,East,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.97,3,5039.9856
9039,CA-2016-117121,2016-12-17,Adrian Barton,Consumer,Detroit,Michigan,Central,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,9892.74,13,4946.3700
4098,CA-2014-116904,2014-09-23,Sanjit Chand,Consumer,Minneapolis,Minnesota,Central,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,9449.95,5,4630.4755

In [45]:
df.nsmallest(3, 'Profit')

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
7772,CA-2016-108196,2016-11-25,Cindy Stewart,Consumer,Lancaster,Ohio,East,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,4499.985,5,-6599.9780
683,US-2017-168116,2017-11-04,Grant Thornton,Corporate,Burlington,North Carolina,South,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,-3839.9904
9774,CA-2014-169019,2014-07-26,Luke Foster,Consumer,San Antonio,Texas,Central,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,2177.584,8,-3701.8928

In [44]:
df.sort_values(by='Profit', ascending=[False]).head()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
6826,CA-2016-118689,2016-10-02,Tamara Chand,Corporate,Lafayette,Indiana,Central,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.95,5,8399.9760
8153,CA-2017-140151,2017-03-23,Raymond Buch,Consumer,Seattle,Washington,West,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,6719.9808
4190,CA-2017-166709,2017-11-17,Hunter Lopez,Consumer,Newark,Delaware,East,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.97,3,5039.9856
9039,CA-2016-117121,2016-12-17,Adrian Barton,Consumer,Detroit,Michigan,Central,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,9892.74,13,4946.3700
4098,CA-2014-116904,2014-09-23,Sanjit Chand,Consumer,Minneapolis,Minnesota,Central,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,9449.95,5,4630.4755